export('TFBSBrowser')
export('searchMotif')
export('exclusivePeaks')
export('exclusivePeakResult')
export('commonPeaks')
export('commonPeakResult')
export('intersectPeakMatrix')
export('intersectPeakMatrixResult')
export('exportMMPFM')
export('plotLogo')
export('loadPeaks')
export('motifDistrib')
export('plotDistrib')
export('toTFBSTools')
export('greatAnnotate')
export('genomeAnnotate')
export('cofactorReport')
import('jsonlite')
import('ggplot2')
import('ggseqlogo')
import('gridExtra')
import('grid')
import('GenomicRanges')
import('IRanges')
import('S4Vectors')
import('curl')
importFrom("graphics", "hist", "plot")
importFrom("grDevices", "dev.off", "pdf")
importFrom("methods", "new")
importFrom("utils", "read.delim", "read.table", "write.table")
importFrom("grDevices", "colorRampPalette")
