export('TFBSBrowser')
export('searchMotif')
export('exclusivePeaks')
export('exclusivePeakResult')
export('commonPeaks')
export('commonPeakResult')
export('intersectPeakMatrix')
export('intersectPeakMatrixResult')
export('exportMMPFM')
export('plotLogo')
export('loadPeaks')
export('motifDistrib')
export('plotDistrib')
export('toTFBSTools')
export('greatAnnotate')
export('genomeAnnotate')
import('jsonlite')
import('ggplot2')
import('ggseqlogo')
import('gridExtra')
import('GenomicRanges')
import('IRanges')
import('S4Vectors')
import('curl')
